#body {
  #background-color: Black;
}

ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

a {
  display: block;
  padding: 8px;
  background-color: #333;
}

h1 {
  color: white;
  text-align: center;
  font-family: Brush Script MT;
}

h2 {
  color: white;
  text-align: center;
  font-family: Brush Script MT;
}

h3 {
  color: white;
  text-align: center;
  font-family: Brush Script MT;
}

h4 {
  color: white;
  text-align: center;
  font-family: Brush Script MT;
}

p {
  text-align: center;  
  color: white;
  font-size: 15px;
  font-family: Brush Script MT;
}
button {
  display: inline-block;
  padding: 7.5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 12px;
  
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
body {
  background-image: url('./img/bg.gif');
  background-attachment: fixed;
  background-position: center;
}

a.button {
  display: inline-block;
  padding: 7px 10px;
  font-size: 14.5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 10px;
  font-family: verdana;
}

a.button:hover {background-color: #3e8e41}

a.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}